.post-content p {
    text-align: justify;
}

.post-content h1 {
    text-align: justify;
}

.post-content h2 {
    text-align: justify;
}


.post-content h3 {
    text-align: justify;
}


.post-content h4 {
    text-align: justify;
}



